@import "~variables"


div.u-page.u-page-crud-project {
  .crud-project-form {
    .q-option {
      margin-top 10px
    }
  }

  .u-page-meta {
    padding-right 0px !important
    .side-box {
      margin-left 10px
      .q-list {
        background-color #fff
        padding 10px
      }

      .progress-text {
        text-align right
        font-size 12px
      }
    }
  }
}

